#main.m-scene
  %section.project
    .wrapper.scene_element.scene_element--fadeinright
      %article.intro
        .item-text
          %h2 AIGA Newsletter 2015 Redesign
          %h5 Jacksonville Chapter
          %p Tasked with updating the monthly communications newsletter, the redesign brought forth a single-column modular layout, full-width images, bold new accent colors, and a vast reduction of text. Allowing it to act more as inspiration and a friendly upcoming event reminder, directing the audience to the website; where they can find full event details.
        .item-image
          = image_tag('work/aiga-devices.gif')
      %article.compare
        .item-image
          %h5 2014
          = image_tag('work/aiga-prior.jpg')
        .item-image
          %select.div-toggler{'data-target' => '.newsletters'}
            %option{'data-show' => '.post', :value => 'post'} 2015 Prototype
            %option{'data-show' => '.jan', :value => 'jan'}  January 2015
            %option{'data-show' => '.mar', :value => 'mar'}  March 2015
            %option{'data-show' => '.apr', :value => 'apr'} April 2015
          .newsletters
            .post
              = image_tag('work/aiga-post.jpg')
            .jan.hide
              = image_tag('work/aiga-january.jpg')
            .mar.hide
              = image_tag('work/aiga-march.jpg')
            .apr.hide
              = image_tag('work/aiga-april.jpg')
