%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Ignite
        %h5 Company Marketing Website 2015
        -# %p Copy will go here...
        %cite
          %ul
            %li
              Design:
              %a{:href => "http://www.katygarrison.com/", :target => "_blank"}Katy Garrison
            %li
              Content:
              %a{:href => "http://www.acqylla.com/", :target => "_blank"}Jen Hyde
            %li
              Front-End:
              %a{:href => "/"}Jason Kellum
              &plus;
              %a{:href => "http://www.daniloquilaton.com/", :target => "_blank"}Danilo Quilaton
            %li
              Photography:
              %a{:href => "https://twitter.com/amberaultman", :target => "_blank"}Amber Aultman
      .item-image
        = image_tag('work/ignite-devices.gif')
    %article.image
      .item-image
        .desk
          = image_tag('work/ignite-home-desktop.jpg')
        .tab
          = image_tag('work/ignite-home-tablet.jpg')
        .mob
          = image_tag('work/ignite-home-mobile.jpg')
      .item-text
        %h3 Homepage
    %article.image
      .item-image
        .desk
          = image_tag('work/ignite-selfies-desktop.jpg')
        .tab
          = image_tag('work/ignite-selfies-tablet.jpg')
        .mob
          = image_tag('work/ignite-selfies-mobile.jpg')
      .item-text
        %h3 Selfies
    %article.image
      .item-image
        .desk
          = image_tag('work/ignite-jobs-desktop.jpg')
        .tab
          = image_tag('work/ignite-jobs-tablet.jpg')
        .mob
          = image_tag('work/ignite-jobs-mobile.jpg')
      .item-text
        %h3 Jobs
    %article.image
      .item-image
        .desk
          = image_tag('work/ignite-login-desktop.jpg')
        .tab
          = image_tag('work/ignite-login-tablet.jpg')
        .mob
          = image_tag('work/ignite-login-mobile.jpg')
      .item-text
        %h3 Login
    %article.image
      .item-image
        .desk
          = image_tag('work/ignite-resources-desktop.jpg')
        .tab
          = image_tag('work/ignite-resources-tablet.jpg')
        .mob
          = image_tag('work/ignite-resources-mobile.jpg')
      .item-text
        %h3 Resources
    %article.image
      .item-image
        .desk
          = image_tag('work/ignite-contact-desktop.jpg')
        .tab
          = image_tag('work/ignite-contact-tablet.jpg')
        .mob
          = image_tag('work/ignite-contact-mobile.jpg')
      .item-text
        %h3 Contact
