%nav.subnav
  %ul
    %li
      %a.ion-home.wow.zoomIn{href: "/"}
    %li
      %a.ion-chevron-left.wow.zoomIn{href: "/work/aiga"}
    %li
      %a.ion-chevron-right.wow.zoomIn{href: "/work/asps"}
  = render 'shared/view'
%section.project
  .wrapper
    %article.intro
      .item-text.wow.fadeInLeft
        %h2 Matchstiq
        %h5 Vendor Management System
        %p Matchstiq is a simple online tool with collaborative job order management, comprehensive analytics and in-app activity tracking for both hiring managers and recruiters.
      .item-image.wow.fadeInUp
        = image_tag("work/ms-devices.gif")
    %article.image
      .item-image.toggle-view.wow.fadeInUp
        .desk
          = image_tag("work/ms-dash-desktop.jpg")
        .tab.hide
          = image_tag("work/ms-dash-tablet.jpg")
        .mob.hide
          = image_tag("work/ms-dash-mobile.jpg")
      .item-text.wow.fadeInRight
        %h3 Dashboard
        -# %p Text
    %article.image
      .item-image.toggle-view.wow.fadeInUp
        .desk
          = image_tag("work/ms-modal-desktop.jpg")
        .tab.hide
          = image_tag("work/ms-modal-tablet.jpg")
        .mob.hide
          = image_tag("work/ms-modal-mobile.jpg")
      .item-text.wow.fadeInRight
        %h3 Modals
        -# %p Text
    %article.image
      .item-image.toggle-view.wow.fadeInUp
        .desk
          = image_tag("work/ms-splash-desktop.jpg")
        .tab.hide
          = image_tag("work/ms-splash-tablet.jpg")
        .mob.hide
          = image_tag("work/ms-splash-mobile.jpg")
      .item-text.wow.fadeInRight
        %h3 Splash Screen
        -# %p Text
    %article.image
      .item-image.toggle-view.wow.fadeInUp
        .desk
          = image_tag("work/ms-resources-desktop.jpg")
        .tab.hide
          = image_tag("work/ms-resources-tablet.jpg")
        .mob.hide
          = image_tag("work/ms-resources-mobile.jpg")
      .item-text.wow.fadeInRight
        %h3 Resources
        -# %p Text
    %article.image
      .item-image.toggle-view.wow.fadeInUp
        .desk
          = image_tag("work/ms-login-desktop.jpg")
        .tab.hide
          = image_tag("work/ms-login-tablet.jpg")
        .mob.hide
          = image_tag("work/ms-login-mobile.jpg")
      .item-text.wow.fadeInRight
        %h3 Login
        -# %p Text
