%section.onespark.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 One Spark 2016
        %h5 The World's Largest Crowdfunding Festival
        %p Connecting Creators with the resources they need to bring their ideas to life through crowdfunding, created and hosted in Jacksonville, FL. I had the opportunity to redesign the 2016 dashboard and project application flow.
        %cite
          %ul
            %li
              Design & Front-End:
              %a{:href => "https://twitter.com/jasonakellum", :target => "_blank"}Jason Kellum
            %li
              Development:
              %a{:href => "https://twitter.com/jasoncummings86", :target => "_blank"}Jason Cummings
              &plus;
              %a{:href => "http://cronfu.com/", :target => "_blank"}Jimmy Thai
      .item-image
        %video{ :id => "video", :loop => "true", :autoplay => "true", :poster => asset_path('work/os-devices.png')}
          %source{ :src => asset_path('os-devices.mp4'), :type => "video/mp4"}
          %source{ :src => asset_path('os-devices.webm'), :type => "video/webm"}
          = image_tag('work/os-devices.png', {:alt => 'One spark creator profiles.'})
    %article.image
      .item-image.options
        .one
          .desk
            = image_tag('work/os-signin-desktop.png', {:alt => 'Sign In'})
          .tab
            = image_tag('work/os-signin-tablet.png', {:alt => 'Sign In'})
          .mob
            = image_tag('work/os-signin-mobile.png', {:alt => 'Sign In'})
        .two.hide
          .desk
            = image_tag('work/os-register-desktop.png', {:alt => 'Register'})
          .tab
            = image_tag('work/os-register-tablet.png', {:alt => 'Register'})
          .mob
            = image_tag('work/os-register-mobile.png', {:alt => 'Register'})
        .three.hide
          .desk
            = image_tag('work/os-forgotpw-desktop.png', {:alt => 'Forgot Password'})
          .tab
            = image_tag('work/os-forgotpw-tablet.png', {:alt => 'Forgot Password'})
          .mob
            = image_tag('work/os-forgotpw-mobile.png', {:alt => 'Forgot Password'})
      .item-text
        %h3 Authentication Pages
        %select.div-toggler{'data-target' => '.options'}
          %option{'data-show' => '.one', :value => 'one'} Sign In
          %option{'data-show' => '.two', :value => 'two'}  Register
          %option{'data-show' => '.three', :value => 'three'}  Forgot Password
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-launchpad-desktop.png', {:alt => 'Launchpad'})
        .tab
          = image_tag('work/os-launchpad-tablet.png', {:alt => 'Launchpad'})
        .mob
          = image_tag('work/os-launchpad-mobile.png', {:alt => 'Launchpad'})
      .item-text
        %h3 Launchpad
    %article.image
      .item-image.toggle-view
        = image_tag('work/os-profile-sketch.png', {:alt => 'Sketch Artboards'})
      .item-text
        %h3 Sketch artboards synced with Marvel
