%section.aiga.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 One Spark
        %h5 2016 Updates
        %p 
      .item-image
        = image_tag('work/os-devices@2x.gif')
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-signin-desktop@2x.png')
        .tab
          = image_tag('work/os-signin-tablet@2x.png')
        .mob
          = image_tag('work/os-signin-mobile@2x.png')
      .item-text
        %h3 Sign In
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-register-desktop@2x.png')
        .tab
          = image_tag('work/os-register-tablet@2x.png')
        .mob
          = image_tag('work/os-register-mobile@2x.png')
      .item-text
        %h3 Register
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-forgotpw-desktop@2x.png')
        .tab
          = image_tag('work/os-forgotpw-tablet@2x.png')
        .mob
          = image_tag('work/os-forgotpw-mobile@2x.png')
      .item-text
        %h3 Forgot Password
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-launchpad-desktop@2x.png')
        .tab
          = image_tag('work/os-launchpad-tablet@2x.png')
        .mob
          = image_tag('work/os-launchpad-mobile@2x.png')
      .item-text
        %h3 Launchpad
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-invitations-banners@2x.png')
        .tab
          = image_tag('work/os-invitations-banners@2x.png')
        .mob
          = image_tag('work/os-invitations-banners@2x.png')
      .item-text
        %h3 Banners
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-invitations-accepted@2x.png')
        .tab
          = image_tag('work/os-invitations-accepted@2x.png')
        .mob
          = image_tag('work/os-invitations-accepted@2x.png')
      .item-text
        %h3 Accepted Invitation
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-payment@2x.png')
        .tab
          = image_tag('work/os-payment@2x.png')
        .mob
          = image_tag('work/os-payment@2x.png')
      .item-text
        %h3 Payment
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-payment-pending@2x.png')
        .tab
          = image_tag('work/os-payment-pending@2x.png')
        .mob
          = image_tag('work/os-payment-pending@2x.png')
      .item-text
        %h3 Payment Pending
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-payment-success@2x.png')
        .tab
          = image_tag('work/os-payment-success@2x.png')
        .mob
          = image_tag('work/os-payment-success@2x.png')
      .item-text
        %h3 Payment Success
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-profile-overlay@2x.png')
        .tab
          = image_tag('work/os-profile-overlay@2x.png')
        .mob
          = image_tag('work/os-profile-overlay@2x.png')
      .item-text
        %h3 Profile Overlay
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-profile-hover@2x.png')
        .tab
          = image_tag('work/os-profile-hover@2x.png')
        .mob
          = image_tag('work/os-profile-hover@2x.png')
      .item-text
        %h3 Profile Hover
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-profile-edit@2x.png')
        .tab
          = image_tag('work/os-profile-edit@2x.png')
        .mob
          = image_tag('work/os-profile-edit@2x.png')
      .item-text
        %h3 Profile Edit
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-profile-error@2x.png')
        .tab
          = image_tag('work/os-profile-error@2x.png')
        .mob
          = image_tag('work/os-profile-error@2x.png')
      .item-text
        %h3 Profile Error
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/os-profile-confirm@2x.png')
        .tab
          = image_tag('work/os-profile-confirm@2x.png')
        .mob
          = image_tag('work/os-profile-confirm@2x.png')
      .item-text
        %h3 Profile Confirm
        -# %p Text
