%nav.subnav
  %ul
    %li
      %a.ion-home.wow.zoomIn{href: '/'}
    %li
      %a.ion-chevron-left.wow.zoomIn{href: '/'}
    %li
      %a.ion-chevron-right.wow.zoomIn{href: '/work/aiga'}
  = render 'shared/three'
%section.project
  .wrapper
    %article.intro
      .item-text.wow.fadeIn
        %h2 TxtOut
        %h5 Attendance Tracking Tool
        %p Created to relieve a business pain-point, TxtOut replaced an outdated voice-mail center used by Nike and Ebay manufacturing warehouses.
        %p Associates can call-out and, for the first time, text-out tardy or absent. For the staffing agency, it frees associates from manually transcribing voicemails and provides them with searchable, digital attendance reports.
      .item-image.wow.fadeIn
        = image_tag('work/txtout-devices.gif')
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/txtout-dash-desktop.jpg')
        .tab.hide
          = image_tag('work/txtout-dash-tablet.jpg')
        .mob.hide
          = image_tag('work/txtout-dash-mobile.jpg')
      .item-text
        %h3 Dashboard
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/txtout-admin-desktop.jpg')
        .tab.hide
          = image_tag('work/txtout-admin-tablet.jpg')
        .mob.hide
          = image_tag('work/txtout-admin-mobile.jpg')
      .item-text
        %h3 Admin Dashboard
        -# %p Text
