%section.home
  %ul
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-txtout.jpg', :class => 'portfolio-item'), '/work/txtout'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-aiga.jpg', :class => 'portfolio-item'), '/work/aiga'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-matchstiq.jpg', :class => 'portfolio-item'), '/work/matchstiq'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-asps.jpg', :class => 'portfolio-item'), '/work/asps'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-ignite.jpg', :class => 'portfolio-item'), '/work/ignite'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-oppify.jpg', :class => 'portfolio-item'), '/work/oppify'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-trucknseek.jpg', :class => 'portfolio-item'), '/work/trucknseek'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-combofonts.jpg', :class => 'portfolio-item'), '/work/combofonts'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-kyn.jpg', :class => 'portfolio-item'), '/work/kyn'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-spinnaker.jpg', :class => 'portfolio-item'), '/work/spinnaker'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-metrology.jpg', :class => 'portfolio-item'), '/work/metrology'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-traverse.jpg', :class => 'portfolio-item'), '/work/traverse'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-bistro.jpg', :class => 'portfolio-item'), '/work/bistro23'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-rumble.jpg', :class => 'portfolio-item'), '/work/rumble'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-browndog.jpg', :class => 'portfolio-item'), '/work/browndog'
    %li.wow.fadeIn
      = link_to image_tag('brands/brand-odyssey.jpg', :class => 'portfolio-item'), '/work/odysseyridge'
