%section.main-section
  %header
    .head
      .title
        %h1 JASON KELLUM
        %p I'm a UI / UX / Product Designer with the passion to create and an appetite for knowledge in this digitally-advancing realm. Feel free to take a look around.
        %a.button.radius{:href => "resume"} Resum&eacute;
        %a.button.radius{:href => "#work"} View Work
  %section#work
    .content
      %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
        %li
          = link_to image_tag("brand-trucknseek.jpg", :class => "portfolio-item"), "/work/trucknseek"
        %li
          = link_to image_tag("brand-combofonts.jpg", :class => "portfolio-item"), "/work/combofonts"
        %li
          = link_to image_tag("brand-spinnaker.jpg", :class => "portfolio-item"), "/work/spinnaker"
        %li
          = link_to image_tag("brand-metrology.jpg", :class => "portfolio-item"), "/work/metrology"
        %li
          = link_to image_tag("brand-traverse.jpg", :class => "portfolio-item"), "/work/traverse"
        %li
          = link_to image_tag("brand-bistro.jpg", :class => "portfolio-item"), "/work/bistro23"
        %li
          = link_to image_tag("brand-rumble.jpg", :class => "portfolio-item"), "/work/rumble"
        %li
          = link_to image_tag("brand-browndog.jpg", :class => "portfolio-item"), "/work/browndog"
        %li
          = link_to image_tag("brand-odyssey.jpg", :class => "portfolio-item"), "/work/odysseyridge"
